/* Top-level components (app settings, automation workflows, etc.) */
#app-root > div {
  padding: 10px;
  padding-top: 0px;
}

/* Border between top-level components */
#app-root > div:not(:last-child) {
  border-bottom: 1px #666 solid;
}

/* Allows table rows to be styled with borders */
table {
  border-collapse: collapse;
}

/* Add border around table rows */
#app-root > div > table tr {
  border: 1px #AAA solid;
}

/* Padding for table cells */
td {
  padding: 10px;
}

/* Margins between tables and div children of top-level components  */
table:not(:last-child), #app-root > div > div:not(:last-child) {
  margin-bottom: 10px;
}

/* Margin between name-value pairs in job settings and activity arguments */
td > input {
  margin-right: 10px;
}

/* Do not apply bottom margin to name-value pairs */
td > input:not(:first-child):not(:last-child) {
  margin-bottom: 10px;
}

/* Align remove buttons to the top of their table cells */
td {
  vertical-align: top;
}

/* Increase text input width */
input[type="text"] {
  width: 250px;
}

/* Reduce the width of date and time inputs */
#app-root > div:nth-child(4) input[type="text"] {
  width: 75px;
}
