body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 800px;

  text-align: center;
}

#editor > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

#text {
  width: 100%;
  max-width: 500px;

  font-size: 1.5rem;
}

#output,
#image {
  margin-bottom: 1rem;
}

#output {
  font-size: 2rem;
  font-family: sans-serif;
}

#image {
  width: 100%;
  max-width: 800px;
}

#snort,
#snort-label,
#button,
#url-button,
#button-copied,
#url-button-copied,
#edit-button,
#image-url,
#update-image {
  display: none;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container:not(:last-child) {
  margin-right: 0.5rem;
}

#button-copied,
#url-button-copied {
  width: 100%;
  position: absolute;
  top: 1.66rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem;
  font-size: 0.83rem;
  font-family: sans-serif;
}
