form {
  margin: 1rem;
}

form > section > label, form > section > label > span {
  display: block;
}

form > section > label {
  margin-bottom: 1rem;
}

form > section > label > span {
  margin-bottom: 0.5rem;
}

form > section > label > textarea {
  width: 100%;
}

label {
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-size: 1.4rem;
}

section {
  margin-bottom: 2rem;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
