<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404—Thomas Broadley</title>

    <meta
      name="description"
      content="I'm a software developer and musician living in Waterloo, Canada."
    />

    {{> head}}
  </head>
  <body>
    <nav>
      <a href="/">Home</a> &middot; <a href="/blog">Blog</a> (<a
        href="/blog/rss.xml"
        >RSS</a
      >) &middot;
      <a href="https://twitter.com/htbroadley">Twitter</a>
      &middot;
      <a href="https://github.com/tbroadley">GitHub</a>
      &middot;
      <a href="https://soundcloud.com/newwworld">SoundCloud</a>
    </nav>

    <article>
      <header>
        <h1>404</h1>
      </header>

      <section>
        <p>
          Sorry, this page doesn't exist.
        </p>
      </section>
    </article>
  </body>
</html>
