<html>
  <head>
    <title>Blog—Thomas Broadley</title>

    <meta name="description" content="Blog posts by Thomas Broadley." />

    {{> head}}

    <style>
      h1 {
        margin-bottom: 0;
      }

      section {
        display: grid;
        grid-template-columns: 1fr auto;
      }

      p {
        margin: 0;
      }

      p.timestamp {
        margin: 1.5rem 0;
        line-height: 1.5rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="..">Home</a>
      &middot;
      <a href="rss.xml">RSS</a>
    </nav>

    <article>
      <header>
        <h1>Blog</h1>
      </header>

      {{#posts}}
      <section>
        <h2>
          <a href="{{path}}">
            {{#titleHtml}} {{{titleHtml}}} {{/titleHtml}} {{^titleHtml}}
            {{title}} {{/titleHtml}}
          </a>
        </h2>

        <p class="timestamp">
          {{createdAt}}
        </p>

        <p>
          {{#descriptionHtml}} {{{descriptionHtml}}} {{/descriptionHtml}}
          {{^descriptionHtml}} {{description}} {{/descriptionHtml}}
        </p>
      </section>
      {{/posts}}
    </article>
  </body>
</html>
