<html>
  <head>
    <title>Blog—Thomas Broadley</title>

    <meta name="description" content="Blog posts by Thomas Broadley." />

    {{> head}}

    <style>
      td:first-child {
        padding-right: 1rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="..">Home</a>
      &middot;
      <a href="rss.xml">RSS</a>
    </nav>

    <article>
      <header>
        <h1>Blog</h1>
      </header>

      <section>
        <table>
          <thead>
            <tr>
              <th>
                Title
              </th>
              <th>
                Posted on
              </th>
            </tr>
          </thead>
          <tbody>
            {{#posts}}
            <tr>
              <td>
                <a href="{{path}}">
                  {{#titleHtml}} {{{titleHtml}}} {{/titleHtml}} {{^titleHtml}}
                  {{title}} {{/titleHtml}}
                </a>
              </td>
              <td>
                {{createdAt}}
              </td>
            </tr>
            {{/posts}}
          </tbody>
        </table>
      </section>
    </article>
  </body>
</html>
