<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thomas Broadley</title>

    <meta
      name="description"
      content="I'm a software developer and musician living in Waterloo, Canada."
    />

    {{> head}}
  </head>
  <body>
    <nav>
      <a href="search">Search</a> &middot; <a href="blog">Blog</a> (<a
        href="blog/rss.xml"
        >RSS</a
      >) &middot;
      <a href="https://twitter.com/htbroadley">Twitter</a>
      &middot;
      <a href="https://github.com/tbroadley">GitHub</a>
      &middot;
      <a href="https://soundcloud.com/newwworld">SoundCloud</a>
    </nav>

    <article>
      <header>
        <h1>Thomas Broadley</h1>
      </header>

      <section>
        <h2>About me</h2>

        <p>
          I'm a Canadian who's living in Los Angeles, California.
        </p>

        <p>
          I'm working as a Member of Technical Staff at
          <a href="https://evals.alignment.org/">ARC Evals</a>, a project of the
          non-profit
          <a href="https://alignment.org">Alignment Research Center</a>. ARC
          Evals works on assessing whether cutting-edge AI systems could pose
          catastrophic risks to civilization.
        </p>

        <p>
          Before ARC Evals, I spent 4.5 years as a full-stack web developer at
          <a href="https://www.faire.com">Faire</a>, an online wholesale
          marketplace. Also, I've interned at
          <a href="https://datadoghq.com">Datadog</a>,
          <a href="https://zeitspace.com/">Zeitspace</a>,
          <a href="https://www.shopify.ca/plus">Shopify Plus</a>, and
          <a href="http://boltmade.com/">Boltmade</a> (since acquired by
          Shopify).
        </p>

        <p>
          I have a Bachelor of Computer Science from the University of Waterloo.
          In September 2020, I attended a one-week mini-batch at the
          <a href="https://recurse.com">Recurse Center</a>.
        </p>
      </section>

      <section>
        <h2>Contact me</h2>

        <p>
          <a href="mailto:htbroadley@outlook.com">Email</a>:
          <code>htbroadley@outlook.com</code>
        </p>
      </section>
    </article>
  </body>
</html>
