<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thomas Broadley</title>

    <meta
      name="description"
      content="I'm a software developer and musician living in Waterloo, Canada."
    />

    {{> head}}
  </head>
  <body>
    <nav>
      <a href="blog">Blog</a> (<a href="blog/rss.xml">RSS</a>) &middot;
      <a href="https://github.com/tbroadley">GitHub</a>
      &middot;
      <a href="https://soundcloud.com/newwworld">SoundCloud</a>
    </nav>

    <article>
      <header>
        <h1>Thomas Broadley</h1>
      </header>

      <section>
        <h2>About me</h2>

        <p>
          I'm a software developer with a Bachelor of Computer Science from the
          University of Waterloo in Waterloo, Canada.
        </p>

        <p>
          I'm currently working as a senior developer at
          <a href="https://www.faire.com">Faire</a>.
        </p>

        <p>
          In the past, I've worked at
          <a href="https://datadoghq.com">Datadog</a>,
          <a href="https://zeitspace.com/">Zeitspace</a>,
          <a href="https://www.shopify.ca/plus">Shopify Plus</a>, and
          <a href="http://boltmade.com/">Boltmade</a> (since acquired by
          Shopify).
        </p>

        <p>
          I'm a <a href="https://recurse.com">Recurse Center</a> alum, having
          attended a one-week mini-batch in September 2020.
        </p>

        <p>
          In my spare time, I like to read. My favourite author is Ursula K. Le
          Guin. I sing, play the keyboard and the electric bass, and produce
          electronic music. I also write for and act in amateur theatre
          productions.
        </p>
      </section>

      <section>
        <h2>Contact me</h2>

        <p>
          <a href="htbroadley@outlook.com">Email</a>:
          <code>htbroadley@outlook.com</code>
        </p>
      </section>
    </article>
  </body>
</html>
