<html lang="en">
  <head>
    <title>{{title}}—Thomas Broadley</title>

    <meta name="description" content="{{description}}" />

    {{> head}}

    <style>
      p.blogchain {
        display: flex;
        justify-content: center;
      }

      p.blogchain > * {
        display: block;
        text-align: center;
      }

      p.blogchain > *:not(:last-child) {
        margin-right: 1rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="..">All posts</a>
      &middot;
      <a href="../rss.xml">RSS</a>
    </nav>

    <article>
      <header>
        <h1>
          {{#titleHtml}} {{{titleHtml}}} {{/titleHtml}} {{^titleHtml}} {{title}}
          {{/titleHtml}}
        </h1>
        <p class="timestamp">
          {{createdAt}} {{#lastModified}}(last modified
          {{lastModified}}){{/lastModified}}
        </p>

        {{ #blogchains }}
        <p class="blogchain">
          {{ #previousPost }}
          <a href="../{{ path }}">&larr;</a>
          {{ /previousPost }} {{ ^previousPost }}
          <span>&larr;</span>
          {{ /previousPost }}

          <a href="../tags/{{ tag }}">{{ name }}</a>

          {{ #nextPost }}
          <a href="../{{ path }}">&rarr;</a>
          {{ /nextPost }} {{ ^nextPost }}
          <span>&rarr;</span>
          {{ /nextPost }}
        </p>
        {{ /blogchains }} {{ ^blogchains }} {{ #tagsString }}
        <p class="tags">
          Tags: {{{ tagsString }}}
        </p>
        {{ /tagsString }} {{ /blogchains }}
      </header>

      <section>
        {{{body}}}
      </section>
    </article>
  </body>
</html>
