<html lang="en">
  <head>
    <title>{{title}}—Thomas Broadley</title>

    <meta name="description" content="{{description}}" />

    {{> head}}
  </head>
  <body>
    <nav>
      <a href="..">All posts</a>
      &middot;
      <a href="../rss.xml">RSS</a>
    </nav>

    <article>
      <header>
        <h1>
          {{#titleHtml}} {{{titleHtml}}} {{/titleHtml}} {{^titleHtml}} {{title}}
          {{/titleHtml}}
        </h1>
        <p class="timestamp">
          {{createdAt}} {{#lastModified}}(last modified
          {{lastModified}}){{/lastModified}}
        </p>

        {{ #tagsString }}
        <p class="tags">
          Tags: {{{ tagsString }}}
        </p>
        {{ /tagsString }}
      </header>

      <section>
        {{{body}}}
      </section>
    </article>
  </body>
</html>
