body {
  font-family: Roboto, Verdana, Geneva, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;

  max-width: 700px;
  margin: 1.5rem auto 0;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

code {
  font-family: "Source Code Pro", monospace;
}

.timestamp {
  font-style: italic;
}

pre {
  margin: 0;
  padding: 1rem;
  background-color: #eee;
  white-space: pre-wrap;
}

section > img {
  width: 100%;
}
